@media(max-width:576px){
	block img{
		min-width: 100%;
	}
}

.mic_title img {
	width: 100px;
	margin: 20px;
}

.sort_button {
	position: absolute;
	bottom: 0;
	margin:20px;
}

.btn {
	border-radius: 0px !important;
	background-color: #1fc3ff;
	color: white;
}

.top_bar {
	position:relative;
}

.sort_button:hover {
	color: #e3e4e5 !important;
}

.invis {
	display: none;
}

.bot_bar {
	margin-top: 50px;
	margin-bottom: 50px;
}

.text_button {
	padding: 5px;
}
.text_button:hover {
	color: #e3e4e5 !important;
}
